@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap");

$color-primary: #a75b43;
$color-secondary: #ffebe5;
$color-links: #ca9a5a;
$color-text: #000000;
$color-light: #ffffff;
$color-shadow: #cecece;

$color-success: #77d79a;
$color-error: #ed6a4e;

$font-header: "Playfair Display", serif;
$font-text: "Chivo", sans-serif;
