//forms

textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid $color-primary;
  border-radius: 5px;
}

.signButton {
  background-color: $color-primary;
  padding: 10px;
  font-size: 1.3rem;
  color: $color-light;
  border: 2px solid $color-primary;
  border-radius: 5px;
}
