form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-column: 1 / 4;
}
.form--reply {
  margin-top: 20px;
}

input,
textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid $color-primary;
  border-radius: 5px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: $color-primary;
  width: 1.15rem;
  height: 1.15rem;
  border: 1px solid $color-primary;
  border-radius: 5px;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
  &:before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem $color-primary;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  &:checked::before {
    transform: scale(1);
  }
  &:focus {
    outline: max(2px) solid $color-primary;
    outline-offset: max(2px);
  }
}

.form__components {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__checkbox--text {
  padding-left: 10px;
  padding-top: 2px;
}
