// Form
.register__container {
  max-height: 725px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 30px;
  background-color: $color-light;
  border-radius: 30px;
  box-shadow: 3px 3px 7px $color-shadow;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.form__container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.register__checkbox {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

//Thank you
.register__thanks--container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.register__thanks--text {
  margin-bottom: 50px;
}
